name: Create Release
on:
  push:
    tags:
      - "v*"

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log in to Docker Hub Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to Quay Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ${{ github.repository }}
            quay.io/${{ github.repository }}
            ghcr.io/${{ github.repository }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Set env
        id: env
        run: |
          echo ::set-output name=PROJECT_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=PROJECT_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=PROJECT_TAG::${GITHUB_REF#refs/tags/}

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            Download manually ![kube-dump ${{ env.TAG }}](https://raw.githubusercontent.com/WoozyMasta/kube-dump/${{ env.TAG }}/kube-dump) or execute this:

            ```shell
            curl -Lso ~/.local/bin/kube-dump \
              https://raw.githubusercontent.com/WoozyMasta/kube-dump/${{ env.TAG }}/kube-dump && \
              chmod +x ~/.local/bin/kube-dump
            ```

            Also you can run in docker

            * `docker pull ghcr.io/woozymasta/kube-dump:${{ steps.env.outputs.PROJECT_TAG }}`
            * `docker pull quay.io/woozymasta/kube-dump:${{ steps.env.outputs.PROJECT_TAG }}`
            * `docker pull docker.io/woozymasta/kube-dump:${{ steps.env.outputs.PROJECT_TAG }}`
          draft: false
          prerelease: false
